/* Kategori */
.img-categori {
    width: 50px;
}


.row-container {
    border-radius: 8px black;
    box-shadow: 3px 3px 10px rgba(211, 211, 211, 1);
    margin: 0px;
    margin-bottom: 40px;
}

.link-card{
    color: black;
    text-decoration: none;
}

.link-card:hover{
    color: black;
}

.card-produk{
    margin-bottom: 5px;
}

.custom-input {
    width: 50px;
}

.garis {
    color: black;
}

.product-img{
    box-shadow: 0 0 20px 10px var(--white-light);
    height: 200px;
    margin: 0 auto;
}

.banner-size{
    height: 235px;
}

.img-dark{
    filter: brightness(0.7)
}

.btn-on-image {
    position: absolute;
    top: 70%;
    left: 50px; /* Ubah nilai ini sesuai dengan jarak dari kiri */
    transform: translateY(-50%);
    z-index: 2; /* Pastikan tombol berada di atas gambar */
}